<div class="surface-0  justify-content-center">
    <div id="home" class="landing-wrapper overflow-hidden">

        <div id="nav" class=" py-4 px-4 mx-0 md:mx-6 lg:mx-8 lg:px-8 flex align-items-center justify-content-between relative lg:static mb-3">
            <div style="width: 30rem;">
                <a>
                    <button pButton pRipple type="button" label="Bharat Apply" class="p-button-help p-button-text text-4xl" style="color:black"></button>
                </a>
            </div>

            <a pRipple class="cursor-pointer block lg:hidden text-700" pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
                <i class="pi pi-bars text-4xl"></i>
            </a>
            
            
            <div class="align-items-center surface-0 flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full left-4 px-4 lg:px-0 z-2" 
                style="top:120px;  margin-left:1%;">
                <ul class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row cursor-pointer">
                    <li>
                        <a class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3" routerLink="/">
                            <button pButton pRipple type="button" label="Home" class="p-button-help p-button-text text-2xl" style="color:black"></button>
                        </a>
                    </li>
                    <li>
                        <a class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3" routerLink="/home">
                            <button pButton pRipple type="button" label="Apply" class="p-button-help p-button-text text-2xl" style="color:black"></button>
                        </a>
                    </li>
                    <li>
                        <a class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3" routerLink="/home">
                            <button pButton pRipple type="button" label="Login" class="p-button-help p-button-text text-2xl" style="color:black"></button>
                        </a>
                    </li>
                </ul>
            </div>


        </div>
    
        <div id="header" class="flex flex-column pt-4 px-4 lg:px-8 overflow-hidden" 
            style="height: 48rem; background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), radial-gradient(77.36% 256.97% at 77.36% 57.52%, var(--yellow-100) 0%, var(--purple-300) 100%);">
            <div class="flex justify-content-center container4" style=" margin-top: 12rem;" >
                <h1 class="md:text-8xl xl:text-8xl lg:text-8xl text-7xl  font-bold text-gray-900 line-height-2 text-center">
                    The One Application For 
                    <br>
                    All Your Colleges.
                    <a class="font-light block " style=" padding: 5%;" routerLink="/auth">
                        <button pButton pRipple type="button" label="Start Applying Now" class=" md:text-5xl xl:text-5xl lg:text-5xl text-4xl btn-center"></button>
                    </a>
                </h1>
                
            </div>
        </div>

        <div id="howitworks-1" class="py-1 px-4 lg:px-6 mx-0 my-6 lg:mx-6 grid" >
            <div class="flex justify-content-center col-12 lg:col-7 bg-purple-100 p-0 flex-order-0 lg:flex-order-0 h-28rem" style="border-radius: 8px;">      
                <h1 class="md:text-8xl xl:text-8xl lg:text-8xl text-7xl font-bold text-gray-900 line-height-2 text-center" style="padding:10%;">
                    Fill The <br> Form
                </h1>
            </div>
            <div class="flex justify-content-center vertical-align-middle col-12 lg:col-5 bg-white-100  flex-order-1 lg:flex-order-1" style="border-radius: 8px; margin-top:5%;">      
                <div class="vertical-align-middle" style="height: 160px; padding: 3px; border-radius: 10px; background: linear-gradient(90deg, rgba(253, 228, 165, 0.2),rgba(187, 199, 205, 0.2)), linear-gradient(180deg, rgba(253, 228, 165, 0.2),rgba(187, 199, 205, 0.2));">
                    <div class="p-3 surface-card h-full" style="border-radius: 8px;">
                        <div class="flex align-items-center justify-content-center bg-purple-100 mb-3" style="width: 3.5rem; height: 3.5rem; border-radius: 10px;">
                            <i class="pi pi-fw pi-users text-2xl text-yellow-700"></i>
                        </div>
                        <h5 class="mb-2 text-900">One Form</h5>
                        <span class="text-600">That is all we need.</span>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="howitworks-2" class="py-1 px-4 lg:px-6 mx-0 my-6 lg:mx-6 grid">
            <div class="flex justify-content-center vertical-align-middle col-12 lg:col-5 bg-white-100  flex-order-2 lg:flex-order-0" style="border-radius: 8px; margin-top:5%;">      
                <div class="vertical-align-middle" style="height: 160px; padding: 3px; border-radius: 10px; background: linear-gradient(90deg, rgba(253, 228, 165, 0.2),rgba(187, 199, 205, 0.2)), linear-gradient(180deg, rgba(253, 228, 165, 0.2),rgba(187, 199, 205, 0.2));">
                    <div class="p-3 surface-card h-full" style="border-radius: 8px;">
                        <div class="flex align-items-center justify-content-center bg-yellow-200 mb-3" style="width: 3.5rem; height: 3.5rem; border-radius: 10px;">
                            <i class="pi pi-fw pi-users text-2xl text-yellow-700"></i>
                        </div>
                        <h5 class="mb-2 text-900">Colleges Across India</h5>
                        <span class="text-600">Apply to colleges in all 28 states of India.</span>
                    </div>
                </div>
            </div>
            <div class="flex justify-content-center col-12 lg:col-7 bg-yellow-100 p-0 flex-order-1 lg:flex-order-1 h-28rem" style="border-radius: 8px;">      
                <h1 class="md:text-8xl xl:text-8xl lg:text-8xl text-7xl font-bold text-gray-900 line-height-2 text-center" style="padding:10%;">
                    Select All <br> Colleges
                </h1>
            </div>
        </div>

        <div id="howitworks-3" class="py-1 px-4 lg:px-6 mx-0 my-6 lg:mx-6 grid" >
            <div class="flex justify-content-center col-12 lg:col-7 bg-purple-100 p-0 flex-order-0 lg:flex-order-0 h-28rem" style="border-radius: 8px;">      
                <h1 class="md:text-8xl xl:text-8xl lg:text-8xl text-7xl font-bold text-gray-900 line-height-2 text-center" style="padding:10%;">
                    Submit The <br> Application
                </h1>
            </div>
            <div class="flex justify-content-center vertical-align-middle col-12 lg:col-5 bg-white-100  flex-order-1 lg:flex-order-1" style="border-radius: 8px; margin-top:5%;">      
                <div class="vertical-align-middle" style="height: 160px; padding: 3px; border-radius: 10px; background: linear-gradient(90deg, rgba(253, 228, 165, 0.2),rgba(187, 199, 205, 0.2)), linear-gradient(180deg, rgba(253, 228, 165, 0.2),rgba(187, 199, 205, 0.2));">
                    <div class="p-3 surface-card h-full" style="border-radius: 8px;">
                        <div class="flex align-items-center justify-content-center bg-purple-100 mb-3" style="width: 3.5rem; height: 3.5rem; border-radius: 10px;">
                            <i class="pi pi-fw pi-users text-2xl text-yellow-700"></i>
                        </div>
                        <h5 class="mb-2 text-900">Apply 100% Online</h5>
                        <span class="text-600">Submit 100% online application <br>and wait for your decision.</span>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="about us" class="py-1 px-1 lg:px-8 mt-2 mx-0 lg:mx-8">

            <div class="grid justify-content-center">
                <div class="col-12 mt-8 mb-8 p-2 md:p-8" style="border-radius: 20px; background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), radial-gradient(77.36% 256.97% at 77.36% 57.52%, var(--yellow-100) 0%, var(--purple-100) 100%);">
                    <div class="flex flex-column justify-content-center align-items-left text-left px-3 py-3 md:py-0">
                        <h2 class="text-gray-900 mb-2 md:text-5xl xl:text-5xl lg:text-5xl text-4xl">About Us</h2>
                        <!--<span class="text-gray-600 text-2xl">Peak Interactive</span>-->
                        <p class="text-gray-900 sm:line-height-2 md:line-height-4 md:text-3xl xl:text-3xl lg:text-3xl text-2xl mt-4" style="max-width: 800px;">
                            Apply India wants to make the college application process in India a hassle free exprience. 
                            Students fill out one application and can apply to as many colleges as they want.</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="hero" class="flex flex-column pt-4 px-4 lg:px-8 overflow-hidden" 
            style=" background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), radial-gradient(77.36% 256.97% at 77.36% 57.52%, var(--purple-200) 0%, var(--purple-200) 100%);">
            <div class=" grid  relative ">
                <div class="col-4 justify-content-right" >
                    <a style="width: 50%; margin: 0 auto;"> 
                        <button pButton pRipple type="button" label="Bharat Apply" class="p-button-help p-button-text text-4xl" style="color:black"></button>
                    </a>
                </div>
                
                <div class="col-8 justify-content-left grid">
                    <div class="col-4">
                        <a class="" routerLink="/">
                            <button pButton pRipple type="button" label="Apply" class="p-button-help p-button-text text-2xl" style="color:black"></button>
                        </a>
                    </div>
                    <div class="col-4">
                        <a class="" routerLink="/">
                            <button pButton pRipple type="button" label="Contact Us" class="p-button-help p-button-text text-2xl" style="color:black"></button>
                        </a>
                    </div>
                </div>
                
        </div>
    </div>
</div>
